body {
    background-color: black;
    overflow: hidden;
}

.cuadrado-azul {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    animation-name: movimiento-cuadrado-azul;
    animation-duration: 1s;
    animation-delay: 1500ms;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    z-index: 2;
}

@keyframes movimiento-cuadrado-azul {
    from {
        left: 100px;
        top: 100px;
    }

    to {
        left: 700px;
        top: 700px;
    }
}

.cuadrado-amarillo {
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: absolute;
    /* transform: rotate(45deg) scale(3) translate(200px) skew(300deg); */
    rotate: 45deg;
    scale: 3;
    translate: 200px 200px;
    animation-name: movimiento-cuadrado-azul, cambio-color;
    animation-duration: 3s, 10s;
    animation-iteration-count: infinite;
}

@keyframes cambio-color {
    from {
        background-color: yellow;
    }

    to {
        background-color: green;
    }
}

.circulo-rojo {
    background-color: red;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: absolute;
    animation-name: movimento-circulo-rojo;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes movimento-circulo-rojo {
    0% {
        left: 50px;
        top: 50px;
    }

    25% {
        left: 1200px;
        top: 200px;
    }

    50% {
        left: 1000px;
        top: 600px;
    }

    75% {
        left: 200px;
        top: 700px;
    }

    100% {
        left: 50px;
        top: 50px;
    }
}