<div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
    <div
        class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
        <div class="mx-auto max-w-xs px-8">
            <p class="text-base font-semibold text-gray-600">Bulbasaur</p>

            <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-gray-900">Masa</span>
                <span class="text-sm font-semibold leading-6 tracking-wide text-gray-600">48 kilos</span>
            </p>

            <p class="mt-6 flex items-baseline justify-center gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-gray-900">Altura</span>
                <span class="text-sm font-semibold leading-6 tracking-wide text-gray-600">125 centímetros</span>
            </p>

            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png">
        </div>
    </div>
</div>