:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: solid 1px red; */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: red;
    font-size: 2rem;
}

main {
    background-color: green;
    /* display: grid;
    place-content: center; */
    flex-grow: 1;
}

form {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
select {
    font-size: inherit;
}

aside {
    display: none;
}

footer {
    background-color: blue;
}

/* tabletas o mayores */
@media screen and (min-width: 450px) {

    main {
        display: grid;
        place-content: center;
    }

    form {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem 0.5rem;
    }

    label {
        text-align: right;
    }

    /* .label-genero {
        grid-column: 1 / span 2;
    } */


    aside {
        background-color: yellow;
    }
}

/* monitor y mayor */
@media screen and (min-width: 800px) {
    body {
        /* max-width: 1000px; */
        margin: auto;
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    header {
        grid-column: 1 / span 3;
    }

    main {
        grid-column: 2 / span 1;
    }

    aside:nth-child(3) {
        display: unset;
        grid-column: 1;
        grid-row: 2;
    }

    aside:nth-child(4) {
        display: unset;
        grid-column: 3;
        grid-row: 2;
    }

    footer {
        grid-column: 1 / span 3;
    }
}